<h2><a href="employeeList.php">Return to Employee List</a></h2>
<form method="post" id="form">
    <div class="my-2">
        <label for="name">Name</label>
        <input id="name" value="{{employee.name}}" name="name" class="form-control" type="text"/>
        {{#errors.name}}<div class="form-text text-warning">{{errors.name}}</div> {{/errors.name}}
    </div>
    <div class="my-2">
        <label for="surname">Surname</label>
        <input id="surname" value="{{employee.surname}}" name="surname" class="form-control" type="text"/>
        {{#errors.surname}}<div class="form-text text-warning">{{errors.surname}}</div> {{/errors.surname}}
    </div>
    <div class="my-2">
        <label for="job">Job</label>
        <input id="job" value="{{employee.job}}" name="job" class="form-control" type="text"/>
        {{#errors.job}}<div class="form-text text-warning">{{errors.job}}</div> {{/errors.job}}
    </div>
    <div class="my-2">
        <label for="wage">Wage</label>
        <input id="wage" value="{{employee.wage}}" name="wage" class="form-control" type="text"/>
        {{#errors.wage}}<div class="form-text text-warning">{{errors.wage}}</div> {{/errors.wage}}
    </div>
    <div class="my-2">
        <label for="login">Login</label>
        <input id="login" value="{{employee.login}}" name="login" class="form-control" type="text"/>
        {{#errors.login}}<div class="form-text text-warning">{{errors.login}}</div> {{/errors.login}}
    </div>
    <div class="my-2">
        <label for="password">Password</label>
        <input id="password" value="" name="password" class="form-control" type="password"/>
        {{#errors.password}}<div class="form-text text-warning">{{errors.password}}</div> {{/errors.password}}
    </div>
    <div class="my-2">
        <label for="admin">Admin</label>
        <input id="admin" value="true" name="admin" class="form-control" type="checkbox" {{#employee.admin}}checked{{/employee.admin}}/>
        {{#errors.password}}<div class="form-text text-warning">{{errors.wage}}</div> {{/errors.password}}
    </div>
    <div class="my-2">
        <label for="room">Room</label></br>
        <select name="room" id="room" form="form" class="form-select form-select-lg my-2">
            <option selected value="{{employee.room}}">{{employee.roomName}}</option>
        {{#rooms}}
            <option value={{room_id}}>{{roomName}}</option>
        {{/rooms}}
        </select>
        {{#errors.room}}<div class="form-text text-warning">{{errors.room}}</div> {{/errors.room}}
    </div>
    <div>
        <label>Keys</label><br>
        {{#keys}}
            <label for="keys[{{room_id}}]">{{roomName}}</label>
            <input id="keys[{{room_id}}]" type="checkbox" name="keys[]" value="{{room_id}}" class="form-control" {{#checked}}checked{{/checked}}/>
        {{/keys}}
    </div>
    <div class="my-2">
        {{#create}}<input type="hidden" name="action" value="create">
            <input type="submit" value="Create" class="btn btn-primary">{{/create}}
        {{#update}}<input type="hidden" name="action" value="update">
            <input type="hidden" name="employee_id" value="{{employee.employee_id}}"/>
            <input type="submit" value="Update" class="btn btn-primary">{{/update}}
    </div>
</form>