<h2><a href="index.php">Back to Main Menu</a> &nbsp; <a href="logout.php" class="btn btn-warning">Log out</a></h2></h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Surname Name
                <a href="{{ source}}?sortBy=surname&sortHow=DESC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg></a>
                <a href="{{ source}}?sortBy=surname&sortHow=ASC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg></a>
            </th>
            <th>Job
                <a href="{{ source}}?sortBy=job&sortHow=DESC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg></a>
                    <a href="{{ source}}?sortBy=job&sortHow=ASC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg></a>
            </th>
            <th>Wage
                <a href="{{ source}}?sortBy=wage&sortHow=DESC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/></svg></a>
                <a href="{{ source}}?sortBy=wage&sortHow=ASC"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/></svg></a>
            </th>
            <th colspan="2" style="text-align: center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{# employees}}
            <tr>
                <td><a href="{{ employeeDetailName }}?employeeId={{ employee_id }}">{{ surname}} {{ name}}</a></td>
                <td>{{ job}}</td>
                <td>{{ wage}}</td>
                {{#isAdmin}}
                <td><form action="deleteEmployee.php" method="post" onsubmit="return confirm('Really Delete? \n\n This action cannot be undone!')">
                    <input type="hidden" name="employeeId" value="{{ employee_id }}"/>
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form></td>
                <td><a href="updateEmployee.php?employeeId={{ employee_id }}" class="btn btn-info">Edit</a></td>
                {{/isAdmin}}
                {{^isAdmin}}
                    <td><form action="deleteEmployee.php" method="post" onsubmit="return confirm('Really Delete? \n\n This action cannot be undone!')">
                        <input type="hidden" name="employeeId" value="{{ employee_id }}"/>
                        <input type="submit" value="Delete" class="btn btn-danger" disabled>
                    </form></td>
                    <td><a href="" class="btn btn-info disabled" aria-disabled>Edit</a></td>
                {{/isAdmin}}
            </tr>
        {{/employees}}
        <tr><td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Astley Rick</a></td><td>singer</td><td>priceless</td><td></td><td></td></tr>
    </tbody>
</table>
{{#isAdmin}}
    <a class="btn btn-primary" href="../rooms/createEmployee.php">Register new employee</a>
{{/isAdmin}}
{{^isAdmin}}
    <a class="btn btn-primary disabled" href="" aria-disabled>Register new employee</a>
{{/isAdmin}}
