    <div class="container" style="width:300px">
        <div class="position-absolute top-50 start-50 translate-middle">
    <form method="post">
    <div class="my-2">
        <label for="username" class="form-label">Username:</label>
        <input id="username" name="username" type="text" placeholder="Username" class="form-control"/>
    </div>
    <div class="my-2">
        <label for="password" class="form-label">Password:</label>
        <input id="password" name="password" type="password" placeholder="Password" class="form-control"/>
        </div>
        <input id="submit" type="submit" placeholder="Login" class="btn btn-info" value="Login"/>&nbsp;<a href="passwordChange.php" class="btn btn-info">Change Password</a>
    </form>

        </div>
    </div>