
<div class="container">
    <a href="logout.php" class="btn btn-warning">Log out</a></h2>
    <div class="container" style="width:300px">
        <div class="position-absolute top-50 start-50 translate-middle">
            <a href='roomList.php' class="btn btn-info btn-lg">Room List</a>&nbsp;
        <a href='employeeList.php' class="btn btn-info btn-lg">Employee List</a>
        </div>
    </div>
</div>