<div  class="container" style="width:300px">
    <div class="position-absolute top-50 start-50 translate-middle">
<form method="post">
    <div class="my-2">
        <label for="username">Username</label>
        <input id="username" value="" name="username" class="form-control" type="text" placeholder="Your Username"/>
    </div>
    <div class="my-2">
        <label for="passwordOld">Old Password</label>
        <input id="passwordOld" value="" name="passwordOld" class="form-control" type="password" placeholder="Your Old Password"/>
    </div>
    <div class="my-2">
        <label for="passwordNew">New Password</label>
        <input id="passwordNew" value="" name="passwordNew" class="form-control" type="password" placeholder="Your New Password"/>
    </div>
    <input id="submit" type="submit" class="btn btn-info" value="Change"/>
</form>
        <a href="index.php">Return to Login</a>
    </div>
</div>